* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  position: absolute;
  min-width: 100vw;
  max-height: 0.8vh;
  background-image: url("/mobile/image-header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
