* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.header {
  min-width: 100vw;
  min-height: 80vh;
  background-image: url("/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header_line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  margin-inline: -6rem;
}

.header_company-name {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  color: white;
}

.header_motto {
  margin-top: 8rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 3.5rem;
  color: white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.header_down-arrow {
  display: block;
  margin: auto;
  margin-top: 7rem;
}

.white_background {
  background-color: white;
  min-height: 60vh;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.white_background_header {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
}

.white_background_paragraph {
  color: #818498;
  font-family: "Barlow", sans-serif;
  text-align: center;
  line-height: 3rem;
}

.white_background_learn-more_transform {
  box-shadow: inset 0 -1rem 0 0 #faf3d1;
}

.white_background_learn-more_standout {
  box-shadow: inset 0 -1rem 0 0 #fdd8ce;
}

.white_background_learn-more:first-child {
  text-decoration: none;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}

.image_background {
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image_background_header {
  font-family: "Fraunces", serif;
  color: #19536b;
  font-weight: 900;
  font-size: 3.5rem;
}

.image_background_paragraph {
  color: #19536b;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 2rem 4rem;
  line-height: 2.5rem;
}

#graphic_design {
  background-image: url("/mobile/image-graphic-design.jpg");
}

#photography {
  background-image: url("/mobile/image-photography.jpg");
}

.testimonials {
  margin: 6rem 1.5rem 3rem 1.5rem;
}

.testimonials_header {
  margin-bottom: 5rem;
  font-family: "Fraunces", serif;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  color: #a7abae;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

.testimonials-1 {
  margin-bottom: 6rem;
}

.testimonials-1_img {
  display: block;
  border-radius: 50%;
  width: 20%;
  margin: auto;
}

.testimonials-1_paragraph {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin: 2.5rem 1.8rem 2.5rem 1.8rem;
}

.testimonials-1_name {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
  text-align: center;
}

.testimonials-1_profession {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: #a7abae;
  margin-top: 1rem;
}

.testimonials-2 {
  margin-bottom: 6rem;
}

.testimonials-2_img {
  display: block;
  border-radius: 50%;
  width: 20%;
  margin: auto;
}

.testimonials-2_paragraph {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin: 2.5rem 1.8rem 2.5rem 1.8rem;
}

.testimonials-2_name {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
  text-align: center;
}

.testimonials-2_profession {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: #a7abae;
  margin-top: 1rem;
}

.testimonials-3 {
  margin-bottom: 6rem;
}

.testimonials-3_img {
  display: block;
  border-radius: 50%;
  width: 20%;
  margin: auto;
}

.testimonials-3_paragraph {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin: 2.5rem 1.8rem 2.5rem 1.8rem;
}

.testimonials-3_name {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
  text-align: center;
}

.testimonials-3_profession {
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: #a7abae;
  margin-top: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.gallery > img {
  width: 100%;
  height: auto;
}

.footer {
  min-height: 40vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #92d3c2;
}

.footer_logo {
  width: 50%;
  margin-top: 6rem;
  margin-bottom: -5rem;
}

.footer_menu > a {
  text-decoration: none;
  color: #458c7e;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
}

.footer_menu > a:nth-child(-n + 2) {
  margin-right: 3.5rem;
}

.footer_social {
  margin-bottom: 6rem;
}

.footer_social > a:nth-child(-n + 3) {
  margin-right: 2.5rem;
}

.modal {
  clip-path: polygon(0 10%, 90% 10%, 100% 1%, 100% 84%, 100% 100%, 53% 100%, 0 100%);
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  margin: 12% auto;
  min-width: 86vw;
  min-height: 50vh;
  background-color: white;
  /* Fallback color */
}

/* Modal Content/Box */
.modal_content {
  background-color: white;
  margin-top: 6rem;
}

.modal_content_menu {
  height: 36vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal_content_menu_item > a {
  display: block;
  text-decoration: none;
  color: #5a636c;
  font-family: "Barlow", sans-serif;
  font-size: 1.7rem;
}

.modal_content_menu_button {
  border-style: none;
  background-color: #fad400;
  padding: 1.5rem 3.5rem;
  border-radius: 4rem;
  color: #23303e;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
