.footer {
  min-height: 40vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $skyblue;
  @media only screen and (min-width: $bp-small) {
    min-height: 50vh;
  }

  &_logo {
    width: 50%;
    margin-top: 6rem;
    margin-bottom: -5rem;
  }

  &_menu > a {
    text-decoration: none;
    color: $dark-moderate-cyan;
    font-family: $font-sans-serif;
    font-size: 2rem;

    &:nth-child(-n + 2) {
      margin-right: 3.5rem;
    }
  }

  &_social {
    margin-bottom: 6rem;
  }
  &_social > a:nth-child(-n + 3) {
    margin-right: 2.5rem;
  }
}
