.image_background {
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
    &_header {
      font-family: $font-serif;
      color: $dark-blue;
      font-weight: 900;
      font-size: 3.5rem;
    }
  
    &_paragraph {
      color: $dark-blue;
      font-family: $font-sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
      text-align: center;
      margin: 2rem 2rem 4rem;
      line-height: 2.5rem;
    }
  }

#graphic_design {
    background-image: url("/mobile/image-graphic-design.jpg");
}

#photography {
    background-image: url("/mobile/image-photography.jpg");
}