//FONTS
$font-sans-serif: "Barlow", sans-serif;
$font-serif: "Fraunces", serif;

//COLORS
$white: hsl(0, 0%, 100%);
$very-dark-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$soft-red: hsl(7, 99%, 70%);
$lighter-soft-red: hsl(13, 91%, 90%);
$yellow: hsl(51, 100%, 49%);
$lighter-yellow: hsl(50, 79%, 90%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); //graphic design text
$dark-blue: hsl(198, 62%, 26%); //photography text
$skyblue: hsl(164, 43%, 70%); //footer background
$footer-name: hsl(164, 43%, 31%);
$dark-moderate-cyan: hsl(168, 34%, 41%); //footer text

//SCREEN SIZES - MEDIA QUERIES
$bp-largest: 75em; // 1200px
$bp-laptop: 64em; // 1024px
$bp-tablet: 48em; // 768px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
