//FONTS
$font-sans-serif: "Barlow", sans-serif;
$font-serif: "Fraunces", serif;

//COLORS
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}

.header {
  min-width: 100%;
  min-height: 80vh;
  background-image: url("/mobile/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &_company-name {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-family: $font-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: $white;
  }

  &_motto {
    margin-top: 8rem;
    font-family: $font-serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: $white;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  &_down-arrow {
    display: block;
    margin:auto;
    animation-name: bouncingArrow;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: 9rem;
  }

  &_menu {
    display: block;
    margin-right: 5rem;
  }
}

@keyframes bouncingArrow {
  0%,
  50%,
  100% {
    transform: translateY(0);
  };
  50% {
    transform: translateY(-20px);
  }
}
